// esquema de cores
$corPrimaria: #f5f6fa;
$corSecundaria: #182C61;
$corButton:#44bd32;
$corHoverButton: #4cd137;
$corImages:#ccc;

// fonte
$fontPrincipal: Roboto, sans-serif;

//Breakpoints
$tablet: 1023px;
$mobile: 767px;